@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .crousel-item {
    width: calc(90% / 2);
  }
}

@media screen and (max-width: 550px) {
  .crousel-item {
    width: calc(90% / 1);
  }
}
